<h1>Default content tempalte:</h1>


{% if content is defined %}

    <p>
    {% for key, field in content %}
        {% if key not in ['contentSlug','attributes'] %}

            {% if field is iterable %}
                {% for k, var in field %}
                    Field is an array {{ key }}
                    (
                    {% for k, var in var %}
                        {% if k is iterable %}[]{% else %}{{ k }}.{% endif %}
                    {% endfor %}
                    )
                    <br>
                {% endfor %}
            {% else %}
                {{ field|raw }}<br>
            {% endif %}

        {% endif %}
    {% endfor %}
</p>
{% endif %}

{% if content.listItems is defined %}
    <p>
        There are {{ content.listItems|length }} items in the collection.
    </p>
{% endif %}