{% extends 'JfxNinjaCMSBundle::CMSAdmin.base.html.twig' %}


{% block body %}
<div class="row">
    <div class="column small-6 small-offset-3">
        <h1>One CMS install</h1>
        {{ form(form) }}
    </div>
</div>
{% endblock %}